body {
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-image: url("https://cdn.pixabay.com/photo/2017/06/14/08/20/map-of-the-world-2401458_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    height: 100px;
    width: 100px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.front,
.back {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-family: 'Lobster', cursive;
    border-radius: 10px;
    position: absolute;
}

.front {
    background: linear-gradient (#08aeea, #2af598);
    z-index: 2;
    backface-visibility: hidden;
}

.back {
    background: linear-gradient (#f8da61, #ff5acd);
    z-index: 1;
    transform: rotateY(180deg);
}

.container:hover .card {
    transform: rotateY(180deg);
}

.container {
    perspective: 1000px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 300px;
    height: 300px;
    top: 100px;
    text-align: center;
    justify-content: center;
    position: relative;
    margin:0 auto;

}

h1 {
    text-align: center;
    color: blueviolet;
    font-family: 'McLaren', cursive;
}

div {
    font-family: 'McLaren', cursive;
}